//page primary background;

$background-primary: #fdf2e9;

//btn
$btn-background: #e67e22;
$btn-color: #fff;

//typography colors
$text-color-primary: #333;
$body-text-color: #555;

// $color-primary: #c20bc1;

// // typography
// $text-color-secondary: #5a5a62;
// $text-color-default: #2b2c30;
// $text-colors-placeholder: #b0b1c1;

// // Absolute
// $color-white: #fff;
// $color-black: #444;

// // bg

// $background-white: #fefefe;
// $background-gray-2: #f6f6f6;
